*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.container_main{
    width: 100%;
    background-color: black;
    height: calc(100vh - 70px);
}

.schermata {
    width: calc(100%/3);
    height: 100px;
    border: solid 1px white;
}

.micr{
    color: white;
    background-color:gray;
    opacity: 0.3;
}



/* stili footer */
.container_navbar_footer{
    height: 70px;
    background-color: rgb(58, 52, 52);
    text-align: center;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 500;
    width: 100%;
}

.video, .main_footer {
    color: white;
}

.video .fa-chevron-up{
    font-size: 7px;
    padding-right: 15px;
}

.main_footer .fa-chevron-up{
    font-size: 7px;
    padding-right: 15px;
}

.main_footer>div{
    padding-right: 15px;
}

.end_meeting{
    background-color: rgb(113, 104, 104);
    font-size: 13px;
    color: red;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 70px;
}
