*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

/* stili header */

.container_header{
    background-color: black;
}


/* stili main */

main{
    background-color: black;
    height: calc(100vh - 70px);
}

.schermata {
    width: calc(100%/7);
    margin: 0 5px;
    position: relative;
}

img{
    width: 213px;
    height: 100px;
}


.micr{
    color: white;
    background-color:gray;
    opacity: 0.7;
    position: absolute;
    left: 0;
    bottom: 4px;
}



/* stili footer */
.container_navbar_footer{
    height: 70px;
    background-color: rgb(58, 52, 52);
    text-align: center;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 500;
    width: 100%;
}

.video, .main_footer {
    color: white;
}

.video .fa-chevron-up{
    font-size: 7px;
    padding-right: 15px;
}

.main_footer .fa-chevron-up{
    font-size: 7px;
    padding-right: 15px;
}

.main_footer>div{
    padding-right: 15px;
}

.end_meeting{
    background-color: rgb(113, 104, 104);
    font-size: 13px;
    color: red;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 70px;
}
